@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Press+Start+2P&display=swap');

*{
        box-sizing: border-box;
        user-select: none;
        margin: 0;
        padding: 0;
        --monomaniac : 'Monomaniac One', sans-serif;
       --start: 'Press Start 2P', cursive;
}
body{
        overflow: hidden;
        background-color: #394851;
        color: #0d314b;
        height:100vh;
}
.hide{
    display:none
}

    .moon{
        position: absolute;
        top: 5%;
        left: 5%;
        height: 75px;
        width: 75px;
        background-color: #FFB226;
        border-radius: 50%;
        box-shadow: 2px 4px 12px 4px rgba(0, 0, 0, 0.2)
    }
    .star{
        position: absolute;
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background-color: whitesmoke;
        box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.39)
    }
   
    .stars :nth-child(1) {
        left: 20%;
        top: 15%;
    }
    .stars :nth-child(2) {
        left: 35%;
        top: 5%;
    }
    .stars :nth-child(3) {
        left: 45%;
        top: 20%;
    }
    .stars :nth-child(4) {
        left: 57%;
        top: 10%;
    }
    .stars :nth-child(5) {
        right: 30%;
        top:20%;
    }
    .stars :nth-child(6) {
        right: 17%;
        top:5%;
    }
    .stars :nth-child(7) {
        right: 5%;
        top:15%;
    }
    .desert img{
        position: absolute;
        width:100%;
    }

    .desert img:nth-child(1){
        top: 5%;
        height: 50%;
    }

    .desert img:nth-child(2){
        top:38%;  
        height: 50%;
 
    }
    .desert img:nth-child(3){
       top:50%;  
        height: 50%;     
    }

    .cactus-bg img{
        position: absolute;
        top:40%;
        height: 23%;
        width: 12%;
        z-index:1;
        left: calc(var(--left)* 1%);
    }

    

    .trex-track img{
        position: absolute;
        z-index:1
    }
    .trex-track img:nth-child(1){
        --bottom: 9;
        left: 2%;
        height: 20%;
        width: 8%;
        z-index: 2;
        bottom: calc(var(--bottom) * 1%);
    } 
    .trex-track img:nth-child(2), img:nth-child(3){
        --left:0;
       /*PERCENTAGE*/
        height: 13%;
        bottom: 5%;
        left: calc(var(--left)* 1%); /* THAT'S WHY IT HAS TO * WITH PERCENTAGE*/
        width:100%;
    } 
    .cactus-char {
        position: absolute;
        z-index:2;
        --bottom: 9;
        height: 15%;
        bottom: calc(var(--bottom) * 1%);
        --left:0;
        left: calc(var(--left)* 1%);
    }

    .start-screen {
        z-index:1;
        position: absolute;
        font-size: 4vmin;
        top: 50%;
        left: 50%;
        font-family: var(--start);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .score {
        z-index:1;
        position: absolute;
        font-size: 4vmin;
        right: 2vmin;
        top: 50%;
        display: none;
    }

    @media only screen and (min-width: 420px) {
       
    }

    @media only screen and (max-width: 600px) {
       
        .moon{
            height: 65px;
            width: 65px;
        }
        .stars :nth-child(1) {
            left: 5%;
            top: 22%;
        }
        .stars :nth-child(2) {
           display: none;
        }
        .stars :nth-child(3) {
            left: 30%;
            top: 20%;
        }
        .stars :nth-child(4) {
            left: 45%;
            top: 10%;
        }
        .stars :nth-child(5) {
            right: 10%;
            top:12%;
        }
        .stars :nth-child(6) {
            right: 27%;
            top:5%;
        }
        .stars :nth-child(7) {
            right: 30%;
            top:20%;
        }
        .desert img{
            object-fit:cover;
            object-position: 10%;
        }
        .cactus-bg img{
            height: 100px;
            top:48%;
            width: 100px;
        }
    
        .trex-track img:nth-child(1){
            left: 3%;
            height:124px;
            width: 118px;
        } 
        .trex-track img:nth-child(2), img:nth-child(3){
          height: 100px;
        } 
        .trex-track img:nth-child(4){
            width: 90px;
            height: 90px;
        } 
        .trex-track img:nth-child(5){
            width: 90px;
            height: 90px;
            bottom: 10%;
        } 
        
 
    }
    
    @media only screen and (max-width: 700px) {
     
     
        

    }
      
    @media only screen and (min-width: 768px) {
        
      
    } 
      
    @media only screen and (min-width: 992px) {
       
       
      } 
      

    @media only screen and (min-width: 1200px) {
       
      }